@import 'helpers/mediaquery';

.header-container{
	font-family: Verdana;
	color: gold;
	height: 4em;
	background: url('../assets/header.jpg');
	position: fixed;
	width: 100%;
	@include media-query (30em) {
		position: static
	};
	.header-container-text {
		margin: 0 1rem;
		font-weight: bold;
	}
}

.page-container {
	margin: 0 2.5%
}

.gallery-container {
	display: grid;
	grid-template: 1fr/ repeat(1, auto);
	grid-gap: 1em;
	@include media-query(25em) {
		grid-template: 1fr/ repeat(2, auto);
	};
	@include media-query(50em) {
		grid-template: 1fr/ repeat(3, auto);
	};
	@include media-query(75em) {
		grid-template: 1fr/ repeat(4, auto);
	}
}

.gallery-image-container {
	position: relative;
	button {
		position: absolute;
		top: 0;
		right:0
	}
}

.gallery-container-grid {
	position: relative
}

.user-comment-container {
	display: grid;
	grid-template: auto/ auto 1fr
}


//this is for the top navigation
.nav-container {
	position: fixed;
	z-index: 2;
	// the hamburger icon
	@include media-query(30em) {
		position: static
	}
	.nav-links-icon {
		height: 50px;
		position: fixed;
		right: .5em;
		top: .3em;
		z-index: 3;
		@include media-query(30em) {
			display: none
		}
	}
	// the links container 
	.nav-links-container {
		position: fixed;
		right: 0;
		background: darkcyan;
		height: 100%;
		width: 15em;
		@include media-query(30em) {
			width: 100%;
			height: auto;
			display: inline;
			position: static;
		}
		// white space above only for phones
		.nav-links-padding {
			margin-top: 5em;
			@include media-query(30em) {
				display: none
			}
		}

		//actual link blocks
		.nav-links {
			display: block;
			color: white;
			text-decoration: none;
			padding: .5em;
			@include media-query (30em) {
				display: inline-block;
				padding: 0 1em
			}
			&:hover {
				background: lightblue
			}	
		}

		//this is after user signed shows the image
		.navbar-user-container {
			@include media-query(30em) {
				display: inline
			}
			.navbar-user-ul {
				padding: 0;
				margin: 0;
				@include media-query (30em) {
					display: inline
				}

				// below here stores the user icon and welcome message
				.navbar-user-li {
					list-style-type: none;
					@include media-query (30em) {
						display: inline
					}
					&:hover {
						.navbar-user-dropdown-container {
							display: inline-block;
						}
					}

					//icon
					.navbar-user-img {
						height: 1em;
						@include media-query(30em) {
							display: inline-block
						}
					}

					//welcome mesasge
					.navbar-user-text {
						color: white;
					}

					//hidden dropdown
					.navbar-user-dropdown-container {
						width: 100%;
						@include media-query(30em) {
							display: none;			
						}

						//dropdown items
						.navbar-user-dropdown-items {
							color: white;
							text-decoration: none;
							display: block;
							background: none;
							width: 100%;
							padding: .5em;
							&:hover {
								background: lightblue
							}
							@include media-query(30em) {
								padding: 0;
							}
						}
					}
				}		
			}
		}
	}
}



