// main
#root {
	max-width: 100em;
	margin: auto;
	background: rgb(236, 227, 222)
}

.home-container {
	.home-section1 {
		background-image: url("https://res.cloudinary.com/crimson-flamingo/image/upload/v1556414789/270419%20gem/yellowsmokebg.jpg");
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		min-height: 100vh;
		@include media-query(30em) {
			// parallax
			background-attachment: fixed
		};
	}
	.home-section2 {
		background-image: url("https://res.cloudinary.com/crimson-flamingo/image/upload/v1556414910/270419%20gem/goldbg.png");
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		background-color: indianred;
		min-height: 100vh;
		background-blend-mode: luminosity;
		@include media-query(30em) {
			// parallax
			background-attachment: fixed
		}
	}

}

.page-container {
	margin: 0 2.5%;
}

.gallery-container {
	display: grid;
	grid-template: 1fr/ repeat(1, auto);
	grid-gap: 1em;
	@include media-query(25em) {
		grid-template: 1fr/ repeat(2, auto);
	};
	@include media-query(50em) {
		grid-template: 1fr/ repeat(3, auto);
	};
	@include media-query(75em) {
		grid-template: 1fr/ repeat(4, auto);
	}
}

.gallery-image-container {
	position: relative;
	button {
		position: absolute;
		top: 0;
		right:0
	}
}

.gallery-container-grid {
	position: relative
}

.user-comment-container {
	display: grid;
	grid-template: auto/ auto 1fr
}


// homepage drink carousel
.drink-carousel-container {
	margin: 1em 2em;
	text-align: center;
	color: darkorange;
	font-weight: bold;
	.carousel-grid {
		transform: scale(.9);
		border: solid black;
		.carousel-link-container {
			text-decoration: none;
			color: darkred;
			.carousel-img {
				margin: auto;
			}
			.carousel-text {
				font-size: .8em
			}
		}
	}
}

