// NAVIGATION
.btn-header-dropdown {
    margin-left: auto;
    margin-right: -1em;
}

.header-navlinks-container {
    background: #8b0000;
    height: 100%;
    .btn-header-dropdown-active {
        margin-left: auto;
        margin-right: 0em;
    }
}