.footer-container {
    background: darkslategray;
    text-align: center;
    color: darken($color: white, $amount: 10);
    a {
        padding: 0 .3em
    }
    .footer-link {
        text-decoration: none;
        color: darken($color: white, $amount: 10);
        &:hover {
            text-decoration: underline
        }
    }
}